<html>
<meta charset="UTF-8" />
<head th:replace="~{base :: head}"></head>
<body>
	<div th:replace="~{base :: logo}"></div>

	<div class="container">
	  <div th:replace="~{base :: titulo('Listagem Ranking GitUsers')}"></div>
                 
         <div style="border: 5px solid #717209;"class="card mb-3" th:each="usuario : ${Usuarios}">
         
              <img style=" width: 7%;" th:src="${usuario.AvatarURL}">
         
              <label style=" display: inline-block; margin-bottom: 0; font-weight: bolder;">Nick do Usuário</label>
         
              <div><span th:text="${usuario.login}">login</span></div>
         
              <label style="display: inline-block; margin-bottom: 0;font-weight: bolder;">Endereço do GitHub do Usuário</label>
         
              <div><span th:text="${usuario.HTMLURL}">HTMLURL</span></div>
         
       </div>
	</div>
  </body>

</html>